/* ------ CSS Style Sheet - Particle Rain Image Animation ------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
}
body {
    text-align: center;
    margin-top: 70px;
    background: black;
}
#canvas1 {
    border: 3px solid #FDB931;
    border-top-color: #FEDB37;
    border-right-color: #9f7928;;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 532px;
    height: 709px;
}
h1 {
    font-family: 'Nosifer', cursive; /* font-family: 'Londrina Solid', cursive;  | font-family: 'Londrina Shadow', cursive; | font-family: 'Russo One', sans-serif; */
    font-size: 2.5rem;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    filter: drop-shadow(-1px 6px 3px rgba(28, 28, 28, 0.5));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
}